.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'menu main main main right right'
        'menu footer footer footer footer footer';
    gap: 5px;
    background-color: black;
    padding: 5px;
}

.grid-container>div {
    background-color: lightgray;
    padding: 20px 0;
}

.header {
    grid-area: header;
    text-align: center;
}

.menu {
    grid-area: menu;
}

.main {
    grid-area: main;
}

.right {
    grid-area: right;
}

.footer {
    grid-area: footer;
}

h2 {
    background-color: lightslategrey;
}

h3 {
    background-color: rgb(232, 232, 232);
}

h4 {
    background-color: silver;
}

.step:hover {
    background-color: lightblue;
}

.selected {
    background-color: powderblue;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    border: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}